<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <NavLink href="" class="navbar-brand">Blank Blazor WebAssembly</NavLink>
    <button class="navbar-toggler" @onclick=@(arg => collapseNavMenu = !collapseNavMenu)>
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class=@("navbar-collapse " + (collapseNavMenu ? "collapse" : ""))>
        <ul class="navbar-nav">
            <li class="nav-item">
                <NavLink href=@($"{""}") Match="NavLinkMatch.All" class="nav-link">
                    Something
                </NavLink>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <!-- if using authentication
            <LoginDisplay></LoginDisplay>
            -->
            <!-- for notifications etc. -->
        </ul>
    </div>
</nav>

@code{
    private bool collapseNavMenu = true;
}